Phytel.Comm.Phone/Release Candidates/RC3.0/PhytelCommService/PhytelCommService/OCQEResultService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://phytel.com/OCQEResultWS" 
xmlns:xs="http://www.w3.org/2001/XMLSchema" 
xmlns:apachesoap="http://xml.apache.org/xml-soap" 
xmlns:impl="http://phytel.com/OCQEResultWS" 
xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
xmlns:tns1="http://phytel.com/OCQEResultWS" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/">

 <wsdl:types>
  <schema targetNamespace="http://phytel.com/OCQEResultWS" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="reqObject">
	   <xs:sequence>
		 <xs:element name="SendID" type="xs:int"/>
	     <xs:element name="ContractID" type="xs:int"/>
	     <xs:element name="FacilityID" type="xs:int"/>
	     <xs:element name="ProviderID" type="xs:int"/>
	     <xs:element name="ActivityID" type="xs:int"/>
	     <xs:element name="ScheduleID" nillable="true" type="xs:int"/>
	     <xs:element name="CommEventID" type="xs:int"/>
	     <xs:element name="CallID" type="xs:string"/>
	     <xs:element name="CallDistributorTimeOfCall" type="xs:dateTime"/>
	     <xs:element name="CallDuration" type="xs:long"/>
	     <xs:element name="ResultCode" type="xs:string"/>
	     <xs:element name="ResultStatus" nillable="true" type="xs:string"/>
	     <xs:element name="HangupLocale" nillable="true" type="xs:string"/>
	     <xs:element name="Recording" type="xs:boolean"/>
	     <xs:element name="FileLocation" nillable="true" type="xs:string"/>
	     <xs:element name="FileName" nillable="true" type="xs:string"/>
		   <xs:element name="LanguageResultsCode" nillable="true" type="xs:string"/>
		   <xs:element name="TransferPrimaryStatusCode" nillable="true" type="xs:string"/>
		   <xs:element name="TransferSecondaryStatusCode" nillable="true" type="xs:string"/>
		   <xs:element name="TransferDestination" nillable="true" type="xs:string"/>
       <xs:element name="CommDialerIP" nillable="true" type="xs:string"/>
       <xs:element name="CommRecordingServerIP" nillable="true" type="xs:string"/>
       <xs:element name="CommApplicationURL" nillable="true" type="xs:string"/>
       <xs:element name="CommMediaServerIP" nillable="true" type="xs:string"/>
       <xs:element name="CommVXMLBrowser" nillable="true" type="xs:string"/>
       <xs:element name="CommChannel" nillable="true" type="xs:int"/>
     </xs:sequence>
   </complexType>
   <complexType name="respObject">
	   <xs:sequence>
	     <xs:element name="CallID" type="xs:string"/>
	     <xs:element name="returnStatus" type="xs:string"/> <!-- ACK/NACK -->
	     <xs:element name="returnString" nillable="true" type="xs:string"/> 
	   </xs:sequence>
   </complexType>
   <complexType name="reqObject_Array">
   		<xs:sequence>
   			<xs:element name="gfRequest" minOccurs="0" maxOccurs="unbounded" nillable="true" type="tns1:reqObject"/>
   		</xs:sequence>
   </complexType>
   <complexType name="respObject_Array">
   		<xs:sequence>
   			<xs:element name="gfResponse" minOccurs="0" maxOccurs="unbounded" nillable="true" type="tns1:respObject"/>
   		</xs:sequence>
   </complexType>
   
  </schema>
 </wsdl:types>

   <wsdl:message name="sendResultsRequest">
   		<wsdl:part name="parameters" type="impl:reqObject_Array"/>
   </wsdl:message>
   <wsdl:message name="sendResultsResponse">
   		<wsdl:part name="parameters" type="impl:respObject_Array" />
   </wsdl:message>

  <wsdl:portType name="OCQEResultWSPortType">
    <wsdl:operation name="sendOCQEResults">
      <wsdl:input message="impl:sendResultsRequest" name="sendResultsRequest">
    </wsdl:input>
      <wsdl:output message="impl:sendResultsResponse" name="sendResultsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
   <wsdl:binding name="OCQEResultWSSoapBinding" type="impl:OCQEResultWSPortType">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sendOCQEResults">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendResultsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://phytel.com/OCQEResultWS" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="sendResultsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://phytel.com/OCQEResultWS" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>
   <wsdl:service name="OCQEResultWS">

      <wsdl:port binding="impl:OCQEResultWSSoapBinding" name="OCQEResultWSService">

         <wsdlsoap:address location="http://phytel.com/OCQEResultWS"/>

      </wsdl:port>

   </wsdl:service>
</wsdl:definitions>
