Phytel.Comm.Phone/Release Candidates/RC3.0/PhytelCommService/TestCommService/Web References/localhost/CallResultsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="sendOCQEResults">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parameters" type="tns:reqObject_Array" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="reqObject_Array">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="gfRequest" type="tns:ArrayOfReqObject" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfReqObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="reqObject" nillable="true" type="tns:reqObject" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="reqObject">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SendID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ContractID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FacilityID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ProviderID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ActivityID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ScheduleID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CommEventID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CallID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CallDistributorTimeOfCall" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CallDuration" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HangupLocale" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Recording" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="FileLocation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LanguageResultsCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransferPrimaryStatusCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransferSecondaryStatusCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransferDestination" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CommDialerIP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CommRecordingServerIP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CommApplicationURL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CommMediaServerIP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CommVXMLBrowser" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CommChannel" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="sendOCQEResultsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sendOCQEResultsResult" type="tns:respObject_Array" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="respObject_Array">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="gfResponse" type="tns:ArrayOfRespObject" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRespObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="respObject" nillable="true" type="tns:respObject" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="respObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CallID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="returnStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="returnString" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="sendOCQEResultsSoapIn">
    <wsdl:part name="parameters" element="tns:sendOCQEResults" />
  </wsdl:message>
  <wsdl:message name="sendOCQEResultsSoapOut">
    <wsdl:part name="parameters" element="tns:sendOCQEResultsResponse" />
  </wsdl:message>
  <wsdl:portType name="CallResultsServiceSoap">
    <wsdl:operation name="sendOCQEResults">
      <wsdl:input message="tns:sendOCQEResultsSoapIn" />
      <wsdl:output message="tns:sendOCQEResultsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CallResultsServiceSoap" type="tns:CallResultsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sendOCQEResults">
      <soap:operation soapAction="http://tempuri.org/sendOCQEResults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CallResultsServiceSoap12" type="tns:CallResultsServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sendOCQEResults">
      <soap12:operation soapAction="http://tempuri.org/sendOCQEResults" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CallResultsService">
    <wsdl:port name="CallResultsServiceSoap" binding="tns:CallResultsServiceSoap">
      <soap:address location="http://localhost:61993/CallResultsService.asmx" />
    </wsdl:port>
    <wsdl:port name="CallResultsServiceSoap12" binding="tns:CallResultsServiceSoap12">
      <soap12:address location="http://localhost:61993/CallResultsService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>